This script is to find the school code for the requistions in the requisitions report. The school name is 
there in the req title followed by '-'. this script will split the title to get the school name

In [ ]:
import pandas as pd

## Read File
req = pd.read_excel("File Path\Reqschool.xlsx")

In [2]:
req.head(2)

,RequisitionNO,RequisitionTitle,ReqOrgLvl2,ReqOrgLvl3,Category,Function,ReqJusti,Openings,Grade,RecType,...,ReqEmpStatus,RoleType,CreationDate,Duration,ReqCurrentStatus,PostingDate,ClosingDate,LatestFilledDate,ApproveDate,NoOfAppComplete
0,00006HV4,Teacher - Parkes High School,Teaching Service,NaN,Schools,Teachers,NaN,1.0,NaN,NaN,...,NaN,NaN,2018-09-18 08:52:07,NaN,Filled,NaT,NaT,2018-11-21 10:09:40,2018-09-18 09:08:52,1
1,00006HV5,Teacher - Blayney Public School,Teaching Service,NaN,Schools,Teachers,NaN,1.0,NaN,NaN,...,NaN,NaN,2018-09-18 08:52:19,NaN,Filled,NaT,NaT,2018-11-22 16:15:34,2018-09-18 09:08:47,1

In [3]:
#Splitting the 
count = 0
for index, row in req.iterrows():
    reqtitle = row['RequisitionTitle']
    if '-' not in reqtitle:
        count += 1
        req.at[index, 'Invalid'] = reqtitle
        req.at[index, 'SchoolName'] = ' '
        print(reqtitle)
    else:
        splittedreq = reqtitle.split('- ')
        req.at[index, 'Invalid'] = ' '
        req.at[index, 'SchoolName'] =   splittedreq [-1]
print(count)

Assistant Principal Special Education General Thornleigh West Public School
Principal, School Leadership
Assistant Principal Special Education Blacktown North Public School
Teacher Human Society and Its Environment Penrith High School
Teacher Special Education Maitland High School
Teacher English/History Northern Beaches Secondary College Freshwater Senior Campus
Teacher Special Education Lansvale East Public School
Teacher Special Education (0.6 FTE) Cambridge Park High School
Teacher Learning & Support Casino Public School
Assistant Principal Special Education Coniston Public School
Teacher PD/Health/PE Goulburn High School
Aboriginal Education Officer
Human Society and its Environment
Teacher 0.4FTE Elderslie Public School
14

In [45]:
req.columns

Index(['RequisitionNO', 'RequisitionTitle', 'ReqOrgLvl2', 'ReqOrgLvl3',
       'Category', 'Function', 'ReqJusti', 'Openings', 'Grade', 'RecType',
       'Sourcing', 'RectrName', 'HiringMgrName', 'Contact', 'ReqEmpStatus',
       'RoleType', 'CreationDate', 'Duration', 'ReqCurrentStatus',
       'PostingDate', 'ClosingDate', 'LatestFilledDate', 'ApproveDate',
       'NoOfAppComplete', 'Invalid', 'SchoolName'],
      dtype='object')

In [3]:
#saving the modified file
export_csv = req.to_csv (r'File Path\Reqschoolupd.csv', index = None, header=True)

In [4]:
reqfinal = pd.read_excel("File Path\Reqschoolupd.xlsx") 
#read school file with school name and code
schools = pd.read_excel("File Path\Allschools.xlsx")

In [5]:
#merge req file with school file to get the school code
df_final = pd.merge(schools, reqfinal, on='SchoolName', how='left')

In [6]:
#Save the final file
export_csv = df_final.to_csv (r'File Path\schreqmerged.csv', index = None, header=True)